vrrp_instance VI_1 {
    {% if inventory_hostname == 'server1' %}
    state MASTER
    priority 100
    {% elif inventory_hostname == 'server2' %}
    state BACKUP
    priority 90
    {% elif inventory_hostname == 'server3' %}
    state BACKUP
    priority 80
    {% endif %}
    interface ens33
    virtual_router_id 51
    advert_int 1

    authentication {
        auth_type PASS
        auth_pass 1234
    }

    virtual_ipaddress {
        {{ vip }}
    }
}

